[user]
  name = pietvanzoen
  email = hi@pietvanzoen.com
  username = pietvanzoen
#  signingkey = [REDACTED]

# [commit]
#   gpgsign = true

[github]
  user = pietvanzoen

[url "https://<github access token>:x-oauth-basic@github.com/"]
  insteadOf = https://github.com/
