[user]
  name = pietvanzoen
  email = [REDACTED]
  username = pietvanzoen
  signingkey = [REDACTED]

[github]
  user = pietvanzoen

[url "https://<github access token>:x-oauth-basic@github.com/"]
  insteadOf = https://github.com/
