[include]
  # Import environment specific config and sensitive data.
  path = ~/.gitconfig.local

[core]
  excludesfile = ~/.gitignore

  # Use less when output is longer than screen. Also leave result on screen after exiting less.
  pager = less -F -X

[alias]
  ###############################################
  # LOGGING
  ###############################################

  # Pretty logging.
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset %C(black)✍ %G?%Creset' --abbrev-commit

  lb = !git l origin/master..$(git symbolic-ref --short HEAD) # Log commits that diverge from origin/master.
  la = !git l --all # Log with all refs.
  r = !git l -12 # Log recent commits.
  ra = !git r --all # Log recent commits from all refs.

  # Create a simple change log for copy/pasting into PRs.
  changelog = "!git log --pretty=\"* %h %s\" --reverse"
  changelog-branch = !git changelog origin/master..HEAD


  ###############################################
  # COMMITING
  ###############################################

  st = status -s # Short status.
  ci = commit --verbose # Verbose commit. Shows diff in commit message editor.
  wip = "!git add . && git commit -m 'WIP'" # Quick commit all changes and untracked files.
  roll-back-one = reset HEAD~1 # Roll back one commit.
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  pushf = push --force-with-lease
  aa = add --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  b = branch -lvv # Verbose branch list. Shows upstream branches.
  ds = diff --stat=160,120
  dh1 = diff HEAD~1

  ###############################################
  # BRANCH MANAGEMENT
  ###############################################

  # Create pull request and open url: https://hub.github.com/
  pr = pull-request -o

  # Fetch and update given branch name, then rebase current branch onto that branch.
  fetch-rebase = "!f() { if [[ -z \"$1\" ]]; then echo 'No branch name given.' && exit 1; else git fetch origin $1:$1 && git rebase $1; fi }; f"
  frm = !git fetch-rebase master

  # Delete any branches already merged into master.
  prune-local = "!git branch --merged | grep -v \"\\*\\|master\" | xargs -n 1 git branch -d && echo \"Merged branches pruned.\""

  # Prune "gone" branches.
  # Deletes any branches that have an upstream that has been deleted.
  # Useful when squash merging branches via github.
  # WARNING: FORCE DELETES BRANCHES (uses -D delete command)
  prune-gone = "!git checkout master --quiet && git branch -lvv | grep \"gone\\]\" | sed -e 's/^ *//' | cut -d ' ' -f 1 | while read branch; do git branch -D $branch; done; echo 'Gone branches pruned.'"

  # BIG OL' TIDY COMMAND... see ./helpers/git-branch-tidy
  tidy="!bash $DOTFILES/helpers/git-branch-tidy"

  # Run `yarn test` on each commit that diverges from master.
  test-branch="!run-command-on-git-revisions origin/master $(git symbolic-ref --short HEAD) 'yarn test'"

  # Fast-forward merge commits of current branch into master and push. Tidy after.
  finish-branch="!f() { local branch=$(git symbolic-ref --short HEAD); git co master && git fa && git ff $branch && git push && git tidy; }; f"


  ###############################################
  # OTHER HELPERS
  ###############################################

  assume = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed = "!git ls-files -v | grep ^h | cut -c 3-"
  unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
  assumeall = "!git st -s | awk {'print $2'} | xargs git assume"

[merge]
  summary = true # Always include a summary in merge commits.

[push]
  # Default push to update current branch on remote. Then you don't need to type out upstream
  # name when creating a new upstream branch. e.g. To push a new branch to remote just do `git push -u`
  default = current

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[difftool]
  prompt = false

[mergetool]
  prompt = false

[diff]
  compactionHeuristic = 1

[difftool]
  prompt = false

[mergetool]
  prompt = false

[pager]
  # Use diff-highlight from git-core for diffing. Better diffing.
  log = $DOTFILES/bin/diff-highlight | less -F -X
  show = $DOTFILES/bin/diff-highlight | less -F -X
  diff = $DOTFILES/bin/diff-highlight | less -F -X

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red
  oldHighlight = red 52
  newNormal = green
  newHighlight = green 22

[interactive]
  diffFilter = $DOTFILES/bin/diff-highlight

[fetch]
  prune = true # Always prune refs when fetching.

[help]
  autocorrect = 20 # After misspelling git command, use closest match after 2s.

[commit]
  gpgsign = true # sign all commits using gpg key in .gitconfig.local
