[submodule "vim/.vim/pack/tpope/start/vim-sensible"]
	path = vim/.vim/pack/tpope/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/pack/roman/start/golden-ratio"]
	path = vim/.vim/pack/roman/start/golden-ratio
	url = git@github.com:roman/golden-ratio.git
[submodule "vim/.vim/pack/ctrlpvim/start/ctrlp.vim"]
	path = vim/.vim/pack/ctrlpvim/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/sheerun/start/vim-polyglot"]
	path = vim/.vim/pack/sheerun/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/.vim/pack/dense-analysis/start/ale"]
	path = vim/.vim/pack/dense-analysis/start/ale
	url = https://github.com/dense-analysis/ale.git
